
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>train_result</title>
</head>
<body>


</body>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>0</th>
      <th>1</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>ect</td>
      <td>11270</td>
    </tr>
    <tr>
      <th>1</th>
      <td>subject</td>
      <td>6405</td>
    </tr>
    <tr>
      <th>2</th>
      <td>hou</td>
      <td>5903</td>
    </tr>
    <tr>
      <th>3</th>
      <td>enron</td>
      <td>5268</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2000</td>
      <td>3497</td>
    </tr>
    <tr>
      <th>5</th>
      <td>deal</td>
      <td>2793</td>
    </tr>
    <tr>
      <th>6</th>
      <td>pleas</td>
      <td>2614</td>
    </tr>
    <tr>
      <th>7</th>
      <td>ga</td>
      <td>2456</td>
    </tr>
    <tr>
      <th>8</th>
      <td>3</td>
      <td>2401</td>
    </tr>
    <tr>
      <th>9</th>
      <td>``</td>
      <td>2362</td>
    </tr>
  </tbody>
</table>